
#tabella {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #f2f2f2;
    border: 1px solid;
  }
  
  #tabella td, #tabella th {
    
    padding: 8px;
  }
  
  
  #tabella  tr:hover {background-color: #ddd;}
  
  #tabella  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #E6772E;
    color: white;
    border: 1px solid;
  }

  .inListaClienti{
    width: 250px;
    height: 40px;
   
  }


.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

#bodyLista{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #4DB3B3;
}

.myBox{
    position: relative;
    padding: 50px;
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    
}

h1{
    
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5%;

}


